@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model TraineeCrs

<table class="table table-hover table-bordered">
    <tr>
        <th>Trainee Name</th>
        <th>Course Name</th>
        <th>Trainee Degree</th>
        <th>Trainee State</th>
    </tr>
    <tr>
        <td>@Model.TraineeName</td>
        <td>@Model.crsName</td>
        <td>@Model.degree</td>
        <td>@Model.state</td>
    </tr>
</table>
